// Fonts
$font-family-default: 'Finger';
$font-family-primary: 'Creepster';

$fs-xs: 12px;
$fs-s: 14px;
$fs-m: 16px;
$fs-lg: 18px;
$fs-lg-x: 20px;
$fs-xl: 24px;
$fs-2xl: 32px;
$fs-2-5xl: 36px;
$fs-3xl: 40px;
$fs-4xl: 48px;
$fs-4-5xl: 64px;
$fs-5xl: 72px;

// Colores
$bg-primary: #1A090D;
$white: #FFFFFF;
$primary: #ACE894;
$secondary: #8C8486;
$bg-input: rgba(217, 217, 217, 0.05);
$cl-text: #5C5C5C;
$errors: #F14E4E;
$bg-card: #6B6570;
$text-card: #C5BACE;
